<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239321380306-4uqp55rjg27p05gqpcopcmhkv3psqo10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239321380306-4uqp55rjg27p05gqpcopcmhkv3psqo10</string>
	<key>API_KEY</key>
	<string>AIzaSyDzF08cwgJv0h5UNOqDommdWwW0lUwSvug</string>
	<key>GCM_SENDER_ID</key>
	<string>239321380306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gathrr.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>gathrruserapp</string>
	<key>STORAGE_BUCKET</key>
	<string>gathrruserapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239321380306:ios:bc4e06dc3d43366a71c40b</string>
	<key>DATABASE_URL</key>
	<string>https://gathrruserapp.firebaseio.com</string>
</dict>
</plist>